/* Changing the browsers difault settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(250, 250, 246);
  color: #022944;
}

a {
  color: #022944;
  text-decoration: none;
}

.logo a:hover {
  color: #022944;
  text-decoration: underline;
  opacity: 0.7;
}

.Navbar-Container {
  background-color: #f27d92;
}

.Logo {
  font-size: 45px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2.95rem;
  margin-left: 45px;
  margin-right: 45px;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  padding: 10px;
  list-style: none;
  font-size: 30px;
}

/* showcase styling */
.Showcase-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 85px;
}

.Text {
  line-height: 4rem;
}

.Text h1 {
  font-size: 70px;
}
.Text p {
  font-size: 46px;
}

.Text button {
  font-size: 25px;
  padding: 15px;
  background-color: #f27d92;
  color: #022944;
  border: 2px solid #022944;
  border-radius: 10px;
}

.Text button:hover {
  background-color: #022944;
  color: aliceblue;
}

/* About Styling */
.section-container {
  min-height: 300vh;
  padding: 8rem;
}
.section-header {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 4rem;
  margin-top: 7rem;
}
#about:hover {
  background-color: #fae3e6;
}

.Brief {
  font-size: 30px;
  line-height: 2.5rem;
}

.Gallery:hover {
  background-color: #022944;
  padding: 1.2rem;
  justify-content: space-between;
  position: relative;
}

.nav_links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

@media screen and (min-width: 480px) {
  #Gallery {
    width: 200px;
    float: left;
  }
  .nav_links {
    flex-wrap: wrap;
  }
}

/* Skills Styling */
.Skills-li {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 30px;
}
.Skill {
  background-color: #f27d92;
  padding: 10px;
  border-radius: 5px;
}

/* Contact Styling */
#contact {
  text-align: center;
  font-size: 3rem;
  color: #022944;
}

.contact-icon {
  display: flex;
  margin: auto;
  justify-content: center;
}

.icon {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding: 30px;
}

.icon a i {
  color: #f27d92;
  font-size: 3rem;
  margin: 0.4rem;
}
.icon a i:hover {
  color: #022944;
}

img {
  border-radius: 50%;
}

/* .list-hover-effect:hover{
    color: red
 } */

a:hover {
  color: red;
}
